<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ActiveForums" connectionString="Server=MIASAWST03;Database=asp_Portal;User ID=sb;Password=******;" providerName="System.Data.SqlClient" />
    <add name="myBB" connectionString="Server=MIASRVRTSIWS1;Port=3306;Database=topsbb;User ID=root;Password=******;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ModuleId" value="453"></add>
    <add key="DNNPortalRoot" value="\\miasawst02\d$\WebSites\portal.dev.mia.amadeus.net\Portals\0\activeforums_Attach\"></add>
    <add key="myBBRoot" value="\\MIASRVRTSIWS1\RTSWorkbench_Share\wb\TOPSForum\uploads\"></add>
  </appSettings>
 
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>